<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<span th:text="'Olá, ' + ${name} + '!' + ' ' + '😊'">Olá, name!</span>
<br>
<span>Esperamos que esteja bem.</span>
<br><br>
<p>
    Recebemos seu pedido para redefinir sua senha. Aqui está uma nova senha.
    <br><br>
    &#x1F517; <b>Sua nova senha:</b> <span th:text="${newPassword}">newPassword</span>
    <br><br>
    <b>OBS.: Recomendamos a alteração dessa senha para maior segurança.</b>
    <br><br>
    Caso precise de ajuda, você pode entrar em contato com nosso suporte. Estamos aqui para te ajudar!
    <br><br>
    Atenciosamente,
    <br><br>
    Equipe Clubee
    <br>
    Seu clube de vantagens!
</p>
</body>
</html>
